# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env

# Git
.git
.gitignore

# Editors
.vscode
.idea

# Tests / coverage
.coverage
htmlcov/

# Docker
Dockerfile*
README.md

# Misc
*.log
*.tmp
